<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- make sure generated page doesn't cache -->
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />

    <style>
        .item {

        }
        .image-row {
            display: flex;
            flex-direction: row;
            width: 100vw;
        }

        .image-row__image {
            display: block;
        }
    </style>
</head>

<body>

    {{#each data}}
        <div class='item'>
            {{#if before}}
                <p class='item__description'>Comparing <a href="https://{{before.host}}/{{before.path}}" target="_blank">{{before.host}}/{{before.path}}</a> and <a href="https://{{after.host}}/{{after.path}}" target="_blank">{{after.host}}/{{after.path}}</a>.</p>
            {{else}}
                <p class='item__description'>Showing <a href="https://{{task.host}}/{{task.path}}" target="_blank">{{task.host}}/{{task.path}}</a>.</p>
            {{/if}}

            {{#if before.size}}
                <p class='item__description'>Size: {{before.size.width}}x{{before.size.height}} ({{before.sizeName}})</p>
            {{/if}}
            {{#if before.browser}}
                <p class='item__description'>Browser: {{before.browser}}</p>
            {{/if}}

            {{#if before}}
                <div class='image-row'>
                        <a href="{{beforeImage}}" target="_blank" class='image-row__image'><img src="{{beforeImage}}" alt='before'/></a>
                        <a href="{{afterImage}}" target="_blank" class='image-row__image'><img src="{{afterImage}}" alt='before'/></a>
                        <a href="{{diffImage}}" target="_blank" class='image-row__image'><img src="{{diffImage}}" alt='before'/></a>
                </div>
            {{else}}
                <div class='image-row'>
                    <a href="{{taskImage}}" target="_blank" class='image-row__image'><img src="{{taskImage}}" /></a>
                </div>
            {{/if}}
        </div>
    {{/each}}

</body>

</html>