<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- make sure generated page doesn't cache -->
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />

    <style>
        .row {
            display: flex;
            flex-direction: row;
            width: 100vw;
        }

        .row__item {
            display: flex;
            flex-direction: column;
        }

        .row__item__image {
            display: block;
        }
    </style>
</head>

<body>

    {{#each data}}
        {{#if before}}
        <div class='row'>
            <div class='row__item'>
                <span class='row__item__description'><a href="https://{{before.host}}/{{before.path}}" target="_blank">{{before.host}}/{{before.path}}</a></span>
                <a href="{{beforeImage}}" target="_blank" class='row__item__image'><img src="{{beforeImage}}" alt='before'/></a>
            </div>
            <div class='row__item'>
                <span class='row__item__description'><a href="https://{{after.host}}/{{after.path}}" target="_blank">{{after.host}}/{{after.path}}</a></span>
                <a href="{{afterImage}}" target="_blank" class='row__item__image'><img src="{{afterImage}}" alt='before'/></a>
            </div>
            <div class='row__item'>
                <span class='row__item__description'>diff</span>
                <a href="{{diffImage}}" target="_blank" class='row__item__image'><img src="{{diffImage}}" alt='before'/></a>
            </div>
        </div>
        {{else}}
            <div class='row'>
                <div class='row__item'>
                    <span class='row__item__description'><a href="https://{{task.host}}/{{task.path}}" target="_blank">{{task.host}}/{{task.path}}</a></span>
                    <a href="{{taskImage}}" target="_blank" class='row__item__image'><img src="{{taskImage}}" /></a>
                </div>
            </div>
        {{/if}}
    {{/each}}

</body>

</html>