<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- make sure generated page doesn't cache -->
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />

    <style>
        .row {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body>

    {{#each data}}
        {{#if before}}
        <div class='row'>
            <div class='row_image'>
                <img src="{{beforeImage}}" alt='before'/>
            </div>
            <div class='row_image'>
                <img src="{{afterImage}}" alt='after'/>
            </div>
            <div class='row_image'>
                <img src="{{diffImage}}" alt='diff'/>
            </div>
        </div>
        {{else}}
            <div class='row'>
                <div class='row_image'>
                    <img src="{{taskImage}}" />
                </div>
            </div>
        {{/if}}
    {{/each}}

</body>

</html>