<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ddg-screen-diff</title>

    <!-- make sure generated page doesn't cache -->
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />

    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }
        .item {
            border-bottom: solid lightgray 2px;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }

        .item--collapsed .item__body {
            display: none;
        }

        .item--valid .item__head {
            background: lightgreen;
        }

        .item__head {
            background: lightgray;
            vertical-align: middle;
            justify-content: center;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            padding: 10px;
        }

        .item__description {
            margin: 5px 0;
        }

        .item__description--strong {
            font-weight: bold;
            color: green;
        }
        .image-row {
            display: flex;
            flex-direction: row;
        }

        .image-row__link {
            display: block;
            position: relative;
            margin-right: 10px;
            background-size: 0;
        }

        .image-row__link:hover {
            background-size: contain;
        }

        .image-row__link::before {
            content: attr(data-title);
            position: absolute;
            left: 0;
            bottom: -12px;
            font-size: 12px;
        }

        .image-row__link__image {
            object-fit: contain;
            max-width: 100%;
        }
    </style>
</head>

<body>

    {{#each data}}
        <div class='item {{#if areEqual }}item--collapsed item--valid{{/if}}'>
            <div class='item__head js-item-head'>
                {{#if taskB}}
                    <p class='item__description'>Comparing <a href="https://{{taskA.host}}/{{taskA.path}}" target="_blank">{{taskA.host}}/{{taskA.path}}</a> and <a href="https://{{taskB.host}}/{{taskB.path}}" target="_blank">{{taskB.host}}/{{taskB.path}}</a>.</p>
                {{else}}
                    <p class='item__description'>Showing <a href="https://{{taskA.host}}/{{taskA.path}}" target="_blank">{{taskA.host}}/{{taskA.path}}</a>.</p>
                {{/if}}

                {{#if areEqual}}
                    <p class='item__description item__description--strong'>Images are equal.</p>
                {{/if}}
            </div>

            <div class='item__body'>
                {{#if taskA.size}}
                    <p class='item__description'>Size: {{taskA.size.width}}x{{taskA.size.height}} ({{taskA.sizeName}})</p>
                {{/if}}
                {{#if taskA.browser}}
                    <p class='item__description'>Browser: {{taskA.browser}}</p>
                {{/if}}
                
                <div class='image-row'>
                        <a href="{{taskAImage}}" target="_blank" class='image-row__link' data-title='A'><img src="{{taskAImage}}?{{../random}}" alt='A' class='image-row__link__image'/></a>
                        {{#if taskB}}
                            <a href="{{taskBImage}}" target="_blank" class='image-row__link' data-title='B'><img src="{{taskBImage}}?{{../random}}" alt='B' class='image-row__link__image'/></a>
                            <a href="{{diffImage}}" target="_blank" class='image-row__link' data-title='Diff ({{percentageDiff}}%)' style='background-image: url({{taskAImage}}?{{../random}})'><img src="{{diffImage}}?{{../random}}" alt='diff' class='image-row__link__image'></a>
                        {{/if}}
                </div>
            </div>
        </div>
    {{/each}}

    <script>
        const headers = document.querySelectorAll('.js-item-head');

        Array.from(headers).forEach(header => {
            header.addEventListener('click', () => {
                header.parentNode.classList.toggle('item--collapsed');
            })
        })
    </script>

</body>

</html>